@font-face {
  font-family: 'Nulato';
  src: url('Fonts/nulato-thinitalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Full range for variable font */
  font-style: normal;
}
body{
background: #021236;
background: linear-gradient(59deg,rgba(2, 18, 54, 1) 5%, rgba(73, 141, 230, 1) 100%);
color: #fff;
font-family: 'Nulato', 'Nunito Thin Italic', sans-serif;
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
padding: 0;
margin: 0;
}
@keyframes spin{
 0% {transform: rotate(0deg);}
 100% {transform: rotate(360deg);}
}
@keyframes rainbowShadow {
  0% {
    box-shadow: 0 0 50px red;
  }
  14% {
    box-shadow: 0 0 50px orange;
  }
  28% {
    box-shadow: 0 0 50px yellow;
  }
  42% {
    box-shadow: 0 0 50px green;
  }
  57% {
    box-shadow: 0 0 50px rgb(0, 0, 0);
  }
  71% {
    box-shadow: 0 0 50px indigo;
  }
  85% {
    box-shadow: 0 0 50px violet;
  }
  100% {
    box-shadow: 0 0 50px red;
  }
}
.drum-content{
    position: relative;
    background-image: url('background/drum-background.png');/*img background on the drum content*/
    background-size: cover; /*corret the size of img background*/
    background-position: center; /*centralize the img background*/
    border-radius: 10px; /*rounds the border off the buttons frame*/
    display: flex;
    flex-direction: column; /*every div inside this frame will be align like a column*/
    align-items: center; /*every content will be centralized on the y axis*/
    justify-content: center; /*every content will be centralized on the x axis - the animation outside needs this, why?*/
    padding: 20px; /*margin inside the element*/ 
    width: 600px; /*width of the drum content*/

}
.drum-content::before{
 content: '';
  position: absolute; /*the element is out of the normal flow*/
  width: 100%; /* Put de box-shadow inside all the width of the element*/
  height: 100%; /* Put de box-shadow inside all the height of the element*/
  border-radius: 16px; /*background radius on rainbow */
  filter: blur(10px); /*to blur the effect*/
  animation: rainbowShadow 8s ease infinite; /*Animation to create a rainbow effect*/
  z-index: -1; /* Put the box-shadow behind the element  and allow to click on the buttons*/


}
.drum-board-title{
  font-size: 30px; /*font size of the drum title*/
    text-align: center; /* Centralize the drum title */
    background: rgba(0, 0, 0, 0.603); /*background title*/
    width: 500px; /*background width*/
    border-radius: 5px; /*background border*/
    color: #ffffff; /*background color title*/
    padding: 10px; /*padding inside the title*/
}
.drum-board{
    display: flex;
    flex-wrap: wrap;/*allows the items to wrap to the next line IF is necessary*/
    justify-content: center;
    align-items: center;
}
.drum-board button{
    display: flex;
    flex-direction: column;
    width: 100px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    margin: 10px;
    border: 1px;
    border-radius: 10px;
    justify-content: center;
  
  
}
.small-icon{
    font-size: 60px;
    padding: 10px 0 0 0;
}
.drum-board button .key{
    font-size: 30px;
}
.drum-board button .sound{
    font-size: 15px;
    padding: 1px 0 10px;
}