@font-face {/*font-face to import fonts*/
  font-family: 'Nulato';
  src: url('Fonts/nulato-thinitalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Full range for variable font */
  font-style: normal;
}
body{/*all body content*/
background-image: /*background image on the body*/  
url('background/body-background.gif');
background-size: cover;
background-repeat: no-repeat; /* Do not repeat the background image */
background-position: center; /* Center the background image */
background-blend-mode: overlay; /* Blend mode to combine background image and color */
color: #fff; /*text color*/
font-family: 'Nulato', 'Nunito Thin Italic', sans-serif;
display:flex;
justify-content:center;
align-items: center;
height: 100vh;
width: 100vw;
padding: 0; /*remove padding default browser inside the body*/
margin: 0; /*remove margin default browser inside the body*/
}
.headphone-box{/*headphone image*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  object-fit: scale-down; /*scale down the image to fit the body*/;
  position: absolute; /*position the image outside the normal flow*/
}
.headphone-img{/*headphone image*/
  position: absolute; /*position the image outside the normal flow*/
  object-fit: contain; /*scale down the image to fit the body*/
  top: 6%; /*position the image in the middle of the body*/
  left: 7%; /*position the image in the middle of the body*/
  transform: translateY(-50%) translateX(-50%) rotate(0deg); /*position the image in the middle of the body*/
  width: 50px; /*width of the headphone image*/
}
@keyframes blink{/*animation to blink the avatar-instructions*/
  0%, 100%{ opacity: 1;}
  50% {opacity: 0;}
}
@keyframes spin{/*animation to spin the drum::before content*/
 0% {transform: rotate(0deg);}
 100% {transform: rotate(360deg);}
}
@keyframes rainbowShadow {
  0% {
    box-shadow: 0 0 10px #6f00ff;
  }
  14% {
    box-shadow: 0 0 10px #8b25eb;
  }
  28% {
    box-shadow: 0 0 10px #a751ee;
  }
  42% {
    box-shadow: 0 0 10px #bd75e9;
  }
  57% {
    box-shadow: 0 0 10px #a44bed;
  }
  71% {
    box-shadow: 0 0 10px #8827e3;
  }
  85% {
    box-shadow: 0 0 10px #700ff0;
  }
  100% {
    box-shadow: 0 0 10px #6a00ff;
  }
}
.avatar-content .avatar-instructions{
 color: #ffffff;
 font-size: 12px;
 font-weight: bold;
 text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
 padding: 5px;
 animation: blink 1.5s infinite; /* Blinking effect for instructions */
}
.avatar-content .avatar-img{
 width: 70px;
 background-color: rgba(3, 110, 182, 0.75);
 border-radius: 50%; /*rounds the avatar*/
 border: 2px solid #ffffff79;
 margin: 5px 0 5px 10px;;
}
.avatar-content .like-img{
 width: 30px; /*width of the arrow*/
 height: 30px; /*height of the arrow*/
 background-color: rgba(4, 104, 172, 0.829);
 border-radius: 50%; /*rounds the arrow*/
 padding: 2px;
 border: 2px solid #ffffff25;
 margin: 0 10px 0 0;

}
.avatar-content{
  position: absolute; /*position the element outside the normal flow*/
  width: 245px; /*width of the avatar*/
  height: 100px; /*height of the avatar*/
   top: 10%;
   left: 11%;
 transform: translateX(-50%) translateY(-50%);
 display: flex;
 align-items: center;
 background-color: rgba(6, 2, 68, 0.557); /*semi-transparent background*/
 border-radius: 20px; /*rounds the border off the avatar*/
}
.drum-content{
    position: relative;
    background-image: url('background/drum-background.gif');
    background-size: cover; /*cover the entire element with the background image*/
    background-position: center; /*center the background image*/
    border-radius: 10px; /*rounds the border off the buttons frame*/
    border: 1px solid #000; /*border of the buttons frame*/
    display: flex;
    box-shadow: 0 0 20px #00111a; /*shadow*/
    flex-direction: column; /*every div inside this frame will be align like a column*/
    align-items: center; /*every content will be centralized on the y axis*/
    justify-content: center; /*every content will be centralized on the x axis - the animation outside needs this, why?*/
    padding: 20px; /*margin inside the element*/ 
    width: 350px; /*width of the drum content*/
}
.drum-content::before{
 content: '';
  position: absolute; /*the element is out of the normal flow*/
  width: 100%; /* Put de box-shadow inside all the width of the element*/
  height: 100%; /* Put de box-shadow inside all the height of the element*/
  animation: rainbowShadow 10s ease infinite; /*Animation to create a rainbow effect*/
  z-index: -1; /* Put the box-shadow behind the element  and allow to click on the buttons*/
  filter: blur(2px); /*blur the box-shadow*/
}
.drum-board-title{
  font-size: 20px; /*font size of the drum title*/
    text-align: center; /* Centralize the drum title */
    width: 350px; /*background width*/
    border-radius: 5px; /*background border*/
    color:  rgb(246, 244, 252);
    padding: 10px; /*padding inside the title*/
}
.drum-board{
    display: flex;
    flex-wrap: wrap;/*allows the items to wrap to the next line IF is necessary*/
    justify-content: center;
    align-items: center;
}
.drum-board button{
   background: rgb(21, 1, 86);
    display: flex;
    flex-direction: column;
    width: 80px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    margin: 10px;
    border: 1px;
    border-radius: 10px;
    justify-content: center;
    color:  rgb(246, 244, 252);
}
.drum-board button:hover{
  background: rgba(255, 255, 255, 0.808); /*background on hover*/
  color: rgb(0, 0, 0); /*text color on hover*/
}
.drum-board button:active{
  background: rgba(72, 75, 243, 0.863); /*background on hover*/
  color: rgba(255, 255, 255, 0); /*text color on hover*/
  background-image: url('background/sound-bar.gif'); /*background image on hover*/
  background-size: cover; /*cover the entire element with the background image*/
  background-position: center; /*center the background image*/
}
.small-icon{
    font-size: 35px;
    padding: 10px 0 0 0;
}
.drum-board button .key{
    font-size: 15px;
}
.drum-board button .sound{
    font-size: 10px;
    padding: 1px  2px 10px;
}